{{ partial "head.html" . }}
{{ partial "navigation.html" . }}

<section class="post">

        <h1>{{ .Title }}</h1>
        <time datetime="{{ .Date }}">{{ .Date.Format "2006-01-02" }}</time>
        {{ .Content }}

</section>
    
<aside class="pagination">
    <span class="previous">
        {{ if .Prev }}
        <a href="{{ .Prev.Permalink }}">&lt;&lt; {{ .Prev.Title }} </a>
        {{ end }}
    </span>
    <span class="next">
        {{ if .Next }}
        <a  href="{{ .Next.Permalink }}"> {{ .Next.Title }} &gt;&gt;</a>
        {{ end }}
    </span>
</aside>

{{ partial "footer.html" . }}
