{{ partial "head.html" . }}
{{ partial "navigation.html" . }}

<section class="post">
        <h1>{{ .Title }}</h1>
        <time datetime="{{ .Date }}">Published: {{ .Date.Format "2006-01-02" }}</time>
        {{ if ne .Date .Lastmod }}
        <time datetime="{{ .Lastmod }}">Last update: {{ .Lastmod.Format "2006-01-02" }}</time>
        {{ end }}
        
        {{ .Content }}
</section>

<aside class="pagination">
    {{ if .PrevPage }}
    <a class="previous" href="{{ .PrevPage.Permalink }}">&lt;&lt; {{ .PrevPage.Title }}</a>
    {{ end }}

    
    {{ if .NextPage }}
    <a class="next" href="{{ .NextPage.Permalink }}">{{ .NextPage.Title }} &gt;&gt;</a>
    {{ end }}
</aside>

{{ partial "footer.html" . }}
