// Screen
@import "../../node_modules/reset-css/sass/reset";
@import "colors";
@import "lines";
@import "svgs";
@import "iconmoon";


// @import 'https://fonts.googleapis.com/css?family=Open+Sans:300,600';
// $font-openSans: 'Open Sans', sans-serif;

$ani-duration: 0.6s;
//$ani-delay: 0.5s;
//$swipe-duration: 0.8s;

$content-width-max: 1100px;

$breakpoint-medium: 600px;
$breakpoint-large: 900px;
$breakpoint-wide: 1200px;

// Some mixins
@mixin card(){
    margin-top: 15px;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: $canvas;
    box-sizing: border-box;
    box-shadow: 2px 2px 6px 3px $shadow;
}

@mixin link(){
    color: $grey-dark;
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color $ani-duration, color $ani-duration;
    
    &:hover {
        color: $canvas;
        background-color: $grey-dark;
        
        // for the logo
        .stroke{ stroke: $canvas; }
        .fill{ fill: $black; }
    }
}

// General styles
html{ font-size: 62.5%; }

body{
    min-width: 320px;
    max-width: $content-width-max;
    margin: 0 auto;
    color: $grey-dark;

    font-size: 1.8rem;
    line-height: 2.7rem;
    // font-family: $font-openSans;
    font-family: 'Open Sans', sans-serif;

    background-color: $white;
    background-attachment: fixed;
    background-image: $background_image;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 300;
  clear: both;
  padding: 20px 0 0 0;
}

h1{
    font-size: 4.9rem;
    line-height: 5.7rem;
}

h2, h3{
    font-size: 4.2rem;
    line-height: 4.9rem;
}

h4{
    font-size: 3.6rem;
    line-height: 4.2rem;
}

h5{
    font-size: 3.1rem;
    line-height: 3.6rem;
}

h6{
    font-size: 2.7rem;
    line-height: 3.1rem;
}

p{ padding: 15px 0; }
em{ font-style: italic; }
strong{ font-weight: 600; }
a{
    cursor: pointer;
    color: $grey-dark;
    transition: color $ani-duration;
    &:hover{ color: $grey-light; }
}

ul, ol{
    padding: 0 0 15px 40px;
    list-style-position: initial;
}

ul {
    list-style: none;
    li:before {
        @include circle($grey-dark);
        margin: 10px 0 0 -18px;
    }
}

// ul{ list-style-type: disc; }
ol{ list-style-type: decimal; }

time{
    padding-top: 5px;
    font-size: 1.3rem;
    line-height: 1.4rem;
}

// Custom Layout for different sections
.grid {
    display: grid;

    grid-template-columns: 3% 94% 3%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
    ". header ."
    ". main ."
    ". pagination ."
    ". footer .";
}

.header, .footer {
    @include card();
    padding: 10px 0px;
    display: flex;

    a{
        @include link();
        padding: 5px 10px;
        margin: 0 12px 0 7px;
    }
}

.header{
    grid-area: header;
    justify-self: start;

    .home{
        width: 40px;
        height: 40px;
        margin: 0 10px;
    }
    .line{ margin-top: 14px; }
    a:not(.home){ padding-top: 10px; }
}

.footer{
    grid-area: footer;
    justify-self: end;

    margin-bottom: 30px;
}

.pagination{
    grid-area: pagination;
    justify-self: center;
}

.post, .homepage, .posts-summary, .page-not-found{
    grid-area: main;
}

.post{
    @include card();
    padding-bottom: 30px;

    display: grid;
    grid-template-columns: 2% 1fr 2%;

    p, ul, ol, table{ grid-column: 2 / 3; }
    h1, h2, h3, h4, h5, h6, hr, time, pre { grid-column: 2 / span 3; }
}

.post-list{ grid-template-rows: max-content; }

.logo{ padding: 1.25rem; }

.post-link{
    @include card();
    overflow: hidden;

    time{ float: right; }
    a{ text-decoration: none; }
}

.post-title{
    @include card();
    display: inline-block;

    h2{ padding: 0; }
}

.post-summary{
    @include card();
    padding: 10px 15px 35px;
    position: relative;
    
    h2{ padding-top: 0; }
    h2 > a{ text-decoration: none; }
}

.readMore{
    position: absolute;
    right: 20px;
    bottom: 15px;
}

.previous, .next{
    @include card();
        
    width: 100%;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.dashboard{
    @include card();
    padding:0;
    // box-sizing: border-box;
    align-self: start;
}

.page-not-found{
    @include card();

    text-align: center;
    width: 75vw;
    min-width: 320px;
    padding: 100px 15px;

    h2{ padding: 0; }
}

@media only screen and (min-width: $breakpoint-medium) {
    .grid {
        grid-template-columns: 0.5fr 8fr 0.5fr;
    }
    .previous, .next{
        text-align: inherit;
        margin: 15px 0;
        width: initial;
    }

    .next{ margin-left: 15px; }
}

@media only screen and (min-width: $breakpoint-large) {
    .grid {
        grid-template-columns: 10px 75px auto 75px 10px;
        grid-template-areas:
        ". header header . ."
        ". . main . ."
        ". . pagination . ."
        ". . footer footer .";
    }

    .post{
        grid-template-columns: 0.5fr 1fr 7fr 1fr 0.5fr;

        p, ul, ol, table{ grid-column: 3 / 5; }
        h1, h2, h3, h4, h5, h6, hr, time, pre{ grid-column: 2 / span 3; }
    }
        
    .homepage{
        display: grid;
        grid-template-columns: 5% 50% 15px 1fr 5%;
    }
    .dashboard{ grid-column: 1 / span 2; }
    .post-list{ grid-column: 4 / span 2; }
}

@media only screen and (min-width: $breakpoint-wide) {
    // .homepage{
    //     grid-template-columns: 1fr 1fr 20px 1fr 1fr;
    // }

    // .dashboard{ grid-column: 1 / span 2; }

    .post-list{
        display: grid;
        grid-template-columns: 1fr 8fr;
        grid-auto-rows: minmax(min-content, max-content);
        justify-items: start;
    }

    .post-title { grid-column: 1 / span 2; }
    .post-link {
        grid-column: 2 / span 1;
        justify-self: stretch;
    }

    .page-not-found{ width: 90vw; }
}
