{{ partial "head.html" . }}
{{ $baseURL := .Site.BaseURL }}

<div class="background"></div>
<section class="grid">
    <div class="content">
        <h1>{{ .Title }}</h1>
        <ul id="list">
            {{ range .Data.Pages }}
            {{ .Render "li"}}
            {{ end }}
        </ul>
    </div>
</section>

<!--
<aside id="meta">
    <div>
        <section>
            <h4 id="date"> {{ .Date.Format "Mon Jan 2, 2006" }} </h4>
            <h5 id="wc"> {{ .FuzzyWordCount }} Words </h5>
        </section>
        <ul id="categories">
            {{ range .Params.topics }}
            <li><a href="{{ $baseURL }}/topics/{{ . | urlize }}">{{ . }}</a> </li>
            {{ end }}
        </ul>
        <ul id="tags">
            {{ range .Params.tags }}
            <li> <a href="{{ $baseURL }}/tags/{{ . | urlize }}">{{ . }}</a> </li>
            {{ end }}
        </ul>
    </div>
    <div>
        {{ if .Prev }}
        <a class="previous" href="{{.Prev.Permalink}}"> {{.Prev.Title}}</a>
        {{ end }}
        {{ if .Next }}
        <a class="next" href="{{.Next.Permalink}}"> {{.Next.Title}}</a>
        {{ end }}
    </div>
</aside>
-->
{{ partial "footer.html" . }}
