<footer>
    <section class="grid">
     <div class="content">
      <div class="line">
        <div class="subLine1"></div>
        <div class="subLine2"></div>
      </div>
        <a href="mailto:info@chrispyke.com" target="_blank">
          <i class="fa fa-envelope-o"></i>
        </a>
        <div class="line">
          <div class="subLine1"></div>
          <div class="subLine2"></div>
        </div>
        <a href="http://www.stumbleupon.com/stumbler/DanTheSofaKing" target="_blank">
          <i class="fa fa-stumbleupon"></i>
        </a>
        <div class="line">
          <div class="subLine1"></div>
          <div class="subLine2"></div>
        </div>
      </div>
    </section>
</footer>