<section class="grid">
    <footer>
        <a href="mailto:info@chrispyke.com" target="_blank">
            <i class="fa fa-envelope-o"></i>
        </a>
        {{ partial "lineSpacer.html" . }}
        <a href="http://www.stumbleupon.com/stumbler/DanTheSofaKing" target="_blank">
            <i class="fa fa-stumbleupon"></i>
        </a>
        {{ partial "lineSpacer.html" . }}
        <a href="https://github.com/ultrachrisp" target="_blank">
            <i class="fa fa-github"></i>
        </a>
    </footer>
</section>
</body>
</html>
