<footer>
    <section class="grid">
     <div class="content">
        <a href="mailto:info@chrispyke.com" target="_blank">
          <i class="fa fa-envelope-o"></i>
        </a>
        <span class="slash"></span>
        <a href="http://www.stumbleupon.com/stumbler/DanTheSofaKing" target="_blank">
          <i class="fa fa-stumbleupon"></i>
        </a>
        <a href="mailto:info@chrispyke.com" target="_blank">
          <i class="fa fa-envelope-o"></i>
        </a>
        <span class="slash"></span>
        <a href="http://www.stumbleupon.com/stumbler/DanTheSofaKing" target="_blank">
          <i class="fa fa-stumbleupon"></i>
        </a>
      </div>
    </section>
</footer>