<!DOCTYPE html>
<html lang="en-US">
 {{ partial "head.html" . }}
  <body>
    <div class="background"></div>
    <section class="grid">
      <div class="placeholder">
        <hr>
        <img src="img/LogoPlay.png" alt="logo">
        <h1>Coming soon.</h1>
        <p>Chrispyke.com is getting a much needed revamp, stay tuned.</p>
        <hr>
      </div>
    </section>
    <section class="grid">
      <div class="content">
        {{ range .Data.Pages }}
          <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
        {{ end }}
      </div>
      <a href="mailto:info@chrispyke.com">Contact Me!</a>
    </section>
  </body>
</html>