{{ partial "head.html" . }}
{{ partial "navigation.html" . }}
<section class="homepage">
    <div class="dashboard" id="dashboard">
        {{ $logo := resources.Get "svg/front.svg" }}
        <img src="{{ $logo.Permalink }}" alt="Logo"/>
        {{ $script := resources.Get "js/main.bundle.js" | resources.Fingerprint "sha512" }}
        <script type="text/javascript" type="module" src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}" async></script>

    </div>
    <!--div class="dashboard">
        <hr>
        {{ $logo := resources.Get "svg/front.svg" }}
        <img src="{{ $logo.Permalink }}" alt="Logo"/>
        
        <h2>{{ .Site.Params.DashboardTitle }}</h2>
        <p>{{ .Site.Params.DashboardDescription }}</p>
        <hr>
    </div -->
    <div class="post-list">
        <div class="post-title">
            <h2>Recent Posts</h2>
        </div>
        {{ range first 10 .Data.Pages }}
        <div class="post-link">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <time datetime="{{ .Date }}">{{ .Date.Format "2006-01-02" }}</time>
        </div>
        {{ end }}

    </div>
</section>
{{ partial "footer.html" . }}
