{{ partial "head.html" . }}
{{ partial "navigation.html" . }}
<section class="homepage">
    <div class="dashboard" id="dashboard">
        {{ $logo := resources.Get "svg/front.svg" }}
        <img src="{{ $logo.Permalink }}" alt="Logo"/>
        {{ $script := resources.Get "js/main.bundle.js" | resources.Minify | resources.Fingerprint "sha512" }}
        <script type="text/javascript" src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}" defer></script>

    </div>
    <div class="post-list">
        <div class="post-title">
            <h2>Recent Posts</h2>
        </div>
        {{ range first 10 (where .Site.Pages ".Params.type" "post") }}
        <div class="post-link">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
        </div>
        {{ end }}

    </div>
</section>
{{ partial "footer.html" . }}
