// Requirements
// ============
// @import "mappy-breakpoints";
// @import "susy";

// $susy: ( 
//  gutters: 0.25,
//  container: 1200px,
//  global-box-sizing: border-box,
//  //debug: ( image: debug )    
// );


// $breakpoints: ( 
//  'small': 320px,
//  'med': 600px,
//  'large': 900px,
//  'wide': 1200px
// );

$breakpoint-small: 320px;
$breakpoint-medium: 600px;
$breakpoint-large: 900px;
$breakpoint-wide: 1200px;

.grid {
 // this is to show the debugging grid

@media only screen and (min-width: $breakpoint-large) {}
    
 // position: relative;
 // @include container(4);         
    
 // @include mappy-bp(med) {
 //  @include container(8);
 // }
     
 // @include mappy-bp(large) {
 //  @include container(12);
 // }
     
 // @include mappy-bp(wide) {
 //  @include container(12);
 // }
}
