// Screen
@import "reset";
@import "grids";
@import "colors";
@import "lines";
@import "svgs";
@import "iconmoon";

@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,600';
$font-openSans: 'Open Sans', sans-serif;

$ani-duration: 0.6s;
//$ani-delay: 0.5s;
//$swipe-duration: 0.8s;

$gutter: gutter();
$gutter_half: $gutter * 0.5;
$gutter_quater: $gutter * 0.25;

$breakpoint-small: 320px;
$breakpoint-medium: 600px;
$breakpoint-large: 900px;
$breakpoint-wide: 1200px;

// Some mixins
@mixin card(){
    margin-top: 15px;
    background-color: $canvas;
    box-shadow: 2px 2px 6px 3px $shadow;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 10px 15px;
}

@mixin link(){
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: $black;
    padding: 5px 10px 7px;
    border-radius: 10px;
    transition: background-color $ani-duration, color $ani-duration;
    &:hover {
        color: $canvas;
        background-color: $black;
        
        // for the logo
        .stroke{ stroke: $canvas; }
        .fill{ fill: $black; }
    }
}

// Custom Layout for different sections
.grid{ padding: 0 $gutter_half; }

.post,
.previous,
.next,
hr{ @include span(4 of 4); }

@media only screen and (min-width: $breakpoint-medium) {
    .post{
        @include span(8 of 8);
    }

    .post-layout{        
        p, pre, ul, ol{
            @include pre(1 of 8);
            @include span(6 of 8);
            @include post(1 of 8);
        }
    }

    .dashboard{ @include span(4 of 8 first); }
    .post-list{ @include span(4 of 8 last); }

    .previous{ @include span(4 of 8 first); }
    .next{ @include span(4 of 8 last); }
}

@media only screen and (min-width: $breakpoint-large) {
    .grid{ padding: 0; }

    nav{ @include pre(1 of 12); }
    footer{ @include post(1 of 12); }
        
    .post,
    .post-summary{
        @include pre(1 of 12);
        @include span(10 of 12);
        @include post(1 of 12);
    }
        
    .post-layout{
        @include pre(1 of 10);
        @include span(8 of 10);
        @include post(1 of 10);
        
        p, pre, ul, ol{
            @include pre(1 of 8);
            @include span(7 of 8);
        }
    }
    
    .dashboard{
        @include pre(1 of 12)
        @include span(4 of 12 first);
    }

    .post-list{
        @include span(6 of 12 last);
        @include post(1 of 12);
    }

    .post-link{
        @include pre(1 of 6);
        @include span(5 of 6 last);
    }

    .previous{ @include span(6 of 12 first); }
    .next{ @include span(6 of 12 last); }
}

@media only screen and (min-width: $breakpoint-wide) {
    nav{ @include pre(0 of 12); }
    footer{ @include post(0 of 12); }

    .post,
    .post-summary{
        @include pre(1 of 12);
        @include span(10 of 12);
        @include post(1 of 12);
    }
        
    .post-layout{
        @include pre(1 of 10);
        @include span(8 of 10);
        @include post(1 of 10);
        
        p, pre, ul, ol{
            @include pre(1 of 8);
            @include span(7 of 8);
        }
    }
}
    
// General styles
html{ font-size: 62.5%; }

body{
    line-height: 2.7rem;
    font-size: 1.8rem;
    font-family: $font-openSans;
    color: $grey-dark;
    background-color: $white;
    background-attachment: fixed;
    background-image: $background_image;
    min-width: 320px;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 300;
  clear: both;
  padding: 20px 0 0 0;
}

h1{
    font-size: 4.9rem;
    line-height: 5.7rem;
}

h2, h3{
    font-size: 4.2rem;
    line-height: 4.9rem;
}

h4{
    font-size: 3.6rem;
    line-height: 4.2rem;
}

h5{
    font-size: 3.1rem;
    line-height: 3.6rem;
}

h6{
    font-size: 2.7rem;
    line-height: 3.1rem;
}

p{ padding: 15px 0; }
em{ font-style: italic; }
strong{ font-weight: 600; }
a{
    cursor: pointer;
    color: $grey-dark;
    &:hover{ color:$grey-light; }
}

ul, ol{
    list-style-position: initial;
    padding: 0 0 15px 40px;
}

ul{ list-style-type: disc; }
ol{ list-style-type: decimal; }

nav, footer{
    @include card();
    padding: 10px 0px;
    
    a{
        @include link();
        text-decoration:none;
        margin: 0 11px 0 7px;
    }
}

nav{
    float: left;
    
    a, span{ float: left; }

    a:not(.home){
        padding: 10px;
        margin: 0 10px 0 7px;
    }

    .line{
        margin-top: 12px;
    }

    .home{
        width: 40px;
        height: 40px;
        padding: 5px 10px;
        margin: 0 10px;
    }
}

footer{
    margin-bottom: 30px;
    float: right;

    a, span { float: right; }
    a:last-child{ margin: 0 12px; }
}

time{
    font-size: 1.3rem;
    line-height: 1.4rem;
    padding-top: 5px;
}

.logo{
    padding: 1.25rem;
}

.post{
    @include card();
    padding-bottom: 30px;
}

.post-link{
    @include card();
    overflow: hidden;

    time{ float: right; }
    a{ text-decoration: none; }
}

.post-title{
    @include card();
    display: inline-block;

    h2{ padding: 0; }
}

.post-summary{
    @include card();
    h2{ padding-top: 0; }
    h2 > a{ text-decoration: none; }
}

.readMore{
    a{ float:right; }
}

aside{
    .previous, .next{
        a{
            @include card();
            padding: 10px 15px;
            display: inline-block;
            text-decoration: none;
            width: 100%;
            text-align: center;
        }
    }

    @media only screen and (min-width: $breakpoint-medium) {
        .previous, .next{
            a{
                text-align: inherit;
                margin: 15px 0;
                width: initial;
            }
        }
            
        .previous a{ float:right; }
    }
}

.dashboard{
    @include card();
    overflow: hidden;
}

.page-not-found{
    @include card();
    margin: 0 auto 15px;
    display: table;
    text-align: center;
    h2{ padding: 0; }
}
