// Screen
// ======
@import "reset";
@import "grids";
@import "font-awesome/font-awesome.scss";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
$font-openSans: 'Open Sans', sans-serif;

$ani-duration: 0.6s;
$ani-delay: 0.5s;
$swipe-duration: 0.8s;

$gutter: gutter();
$gutter_half: $gutter * 0.5;
$gutter_quater: $gutter * 0.25;

html{
  font-size: 62.5%;

  #ieMessage{
    display:none;
  }

  &.ieOld{
    header, section, footer, nav{
      display:none;
    }

    body{
      width:100%;

      #ieMessage{
          display:block;
          width:450px;
          margin: 20px auto;
      }
    }
  }
}

body{
  line-height: 2.5rem;
  font-size: 2rem;
  font-family: $font-openSans;
  font-weight: 400;
  
  min-height: 300px;
}

h1{font-size:6.0rem; line-height:7.0rem; font-weight: 300;}
h2{font-size:5.0rem; line-height:5.9rem; font-weight: 300;}
h3{font-size:4.2rem; line-height:5.0rem; font-weight: 300;}
h4{font-size:3.8rem; line-height:4.4rem; font-weight: 300;}
h5{font-size:3.1rem; line-height:3.6rem; font-weight: 400;}
h6{font-size:2.7rem; line-height:3.1rem; font-weight: 400;}

h1, h2, h3{
  text-shadow: 2px 2px 4px #666;
}

h4, h5, h6{
  text-shadow: 2px 2px 3px #666;
}

p{
  padding:10px 0;
}

em{
  font-style: italic;
}

strong{
  font-weight: 700;
}

a{
  text-decoration: none;
  color:#000;
  
  i{
    
    color:#000;
  }
    &::before{
    content:"//";
      padding:0 10px;
    }
}

footer .content a{
  position:relative;
  float:right;
}

hr{
  position: relative;
  border-width: 2px;
  border-color: #000;
  border-style: solid;
  
  &::before, &::after{
    content:"";
    border:4px solid #000;
    border-radius: 50%;
    background-color: #fff;

    position: absolute;
    top:-7px;
    width: 6px;
    height: 6px;
  }
  &::before{
    left:-5px;
  }
  &::after{
    right:-5px;
  }
}

.logo{
  padding:1.25rem;
}

.background{
  width:100%;
  height:100%;
  position:fixed;
  
  background: url(../img/placeHolder.jpg) no-repeat center center fixed;
  background-size: cover;
}

.grid{
  padding: 0 10px;
}

ul, ol{
  list-style-position: inside;
  padding:5px 10px;
}

ul{list-style-type: disc;}
ol{list-style-type: decimal;}

.content,
.placeholder{
  @include span(4 of 4);
  color:#333;
  /*background-color: rgba(255, 255, 255, 0.6);*/
    box-sizing: border-box;
    border: 4px solid #000;
    border-radius: 20px;
    margin-top: 20px;
    padding: $gutter_quater();
  

  
  img{
    width:50px;
    height:50px;
    position: relative;
    float: left;
    //padding: 17px $gutter_half 0;
  }
}

footer{
  @include span(4 of 4);
}

@include mappy-bp(med) {
  
  .content, 
  .placeholder{
    @include span(4 of 6);
    @include pre(1 of 6);
    @include post(1 of 6);
  }
}

@include mappy-bp(large) {
  
  .content,
  .placeholder{
    @include span(6 of 8);
    @include pre(1 of 8);
    @include post(1 of 8);
  }
}

@include mappy-bp(wide) {
  
  .content,
  .placeholder{
    @include span(10 of 12);
    @include pre(1 of 12);
    @include post(1 of 12);
  }
}
